<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500026481695-tu0kre766jghar7qqc8qq03k8tkctafe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500026481695-tu0kre766jghar7qqc8qq03k8tkctafe</string>
	<key>API_KEY</key>
	<string>AIzaSyAm5ke2hJgxx5e7HHoYGjmAn8gmFZCWU0s</string>
	<key>GCM_SENDER_ID</key>
	<string>500026481695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.kokitabayashi.CollectionViewPractice-01</string>
	<key>PROJECT_ID</key>
	<string>collectionviewandfirestore-01</string>
	<key>STORAGE_BUCKET</key>
	<string>collectionviewandfirestore-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500026481695:ios:fba5eb5529e71e07</string>
	<key>DATABASE_URL</key>
	<string>https://collectionviewandfirestore-01.firebaseio.com</string>
</dict>
</plist>